<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h4>Welcome {{user}}</h4>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="home">HOMEPAGE</a></li>
        <li><a href="contact">CONTACT</a></li>
        <li><a (click)=Logout()>LOGOUT</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Container (About Section) -->


<div class="container-fluid">
  <h2>About Company Page</h2>
  <p>Munich Re Group or Munich Reinsurance Company is a reinsurance company based in Munich, Germany. It is one of the
    world's leading reinsurers.[4] ERGO, a Munich Re subsidiary, is the Group's primary insurance arm. Munich Re's
    shares are listed on all German stock exchanges and on the Xetra electronic trading system. Munich Re is included in
    the DAX index at the Frankfurt Stock Exchange, the Euro Stoxx 50, and other indices.</p>
  <img src=" https://images.pexels.com/photos/3184357/pexels-photo-3184357.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260 "
    height="300">
</div>

<!-- Container (Services Section) -->
<div class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>POWER</h4>
      <p>Utilise Youth Power</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>LOVE</h4>
      <p>Love each employee as family</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>JOB</h4>
      <p>Provide Jobs</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>GREEN</h4>
      <p>Save Environment</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>CERTIFIED</h4>
      <p>Certified Employees</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">HARD WORK</h4>
      <p>Hard work always pays</p>
    </div>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="container-fluid text-center bg-grey">
  <h2>Locations in India</h2><br>
  <h4>We are present in</h4>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://www.movingsolutions.in/assets/images/pune-city.jpg" width="400" height="300">
        <p><strong>Pune</strong></p>
        <p>Base Location</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img
          src="https://cdn.britannica.com/26/84526-050-45452C37/Gateway-monument-India-entrance-Mumbai-Harbour-coast.jpg"
          width="400" height="300">
        <p><strong>Mumbai</strong></p>
        <p>Dream City</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://etimg.etb2bimg.com/photo/73411431.cms" width="400" height="300">
        <p><strong>Hyderabad</strong></p>
        <p>Food city</p>
      </div>
    </div>
  </div>

</div>